:root {
	--main-clr: #f8ce43;
	--main-clr-up: #e1b217;
	--blue-main: #1a94ff;
	--font-main: "Poppins", sans-serif;
	--font-secondary: "Monda", sans-serif;
	--bg-clr: #eff3f7;
	--clr-white: #ffffff;
	--clr-black: rgb(0, 0, 0);
}

.wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	background: rgba(221, 165, 165, 0.1) !important;
}

li > a{
	text-decoration: none;
}

/* side bar */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: var(--bg-clr) !important;
}
.navigation {
	position: fixed;
	inset: 0px;
	width: 75px;
	background: var(--main-clr);
	transition: 0.5s;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1000;
}
.navigation.open {
	width: 200px;
	z-index: 1000;
}
.navigation .menuToggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 23px;
}
.navigation .menuToggle::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 2px;
	background: #333;
	transform: translateY(-8px);
	transition: 0.5s;
}
.navigation.open .menuToggle::before {
	transform: translateY(0px) rotate(45deg);
}
.navigation .menuToggle::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 2px;
	background: #333;
	transform: translateY(8px);
	transition: 0.5s;
	box-shadow: 0 -8px 0 #333;
}
.navigation.open .menuToggle::after {
	transform: translateY(0px) rotate(-45deg);
	box-shadow: 0 0 0 #333;
}
.navigation ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	margin: 0px !important;
	padding: 0px !important;
}
.navigation ul li {
	list-style: none;
	position: relative;
	width: 100%;
	height: 60px;
	padding: 0 10px;
	transition: 0.5s;
}
.navigation ul li.active {
	transform: translateX(20px);
}
.navigation.open ul li.active {
	transform: translateX(10px);
}
.navigation ul li a {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	text-decoration: none;
}
.navigation ul li a .icon {
	position: relative;
	display: block;
	min-width: 55px;
	height: 55px;
	line-height: 60px;
	transition: 0.5s;
	border-radius: 10px;
	font-size: 1.75em;
	color: #222;
}
.navigation ul li.active a .icon {
	color: #fff;
	background: var(--clr);
}
.navigation ul li a .icon::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--clr);
	filter: blur(8px);
	opacity: 0;
	transition: 0.5s;
}
.navigation ul li.active a .icon::before {
	opacity: 0.5;
}
.navigation ul li a .text {
	position: relative;
	padding: 0 15px;
	height: 60px;
	display: flex;
	align-items: center;
	color: #333;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.navigation.open ul li a .text {
	opacity: 1;
	visibility: visible;
}
.navigation ul li.active a .text {
	color: var(--clr);
}

.main-view {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	flex-direction: row;
}

.menu {
	overflow: hidden;
	min-width: 110px;
}

.header {
	position: absolute;
	top: 0px;
	left: 75px;
	width: calc(100vw - 75px);
	height: 60px;
	background: #ffedd4;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	border-left: 1px solid rgba(0, 0, 0, 0.25);
}

html body li.active a {
	background-color: transparent !important;
}

/* centered content*/
.centered-content {
	display: flex;
	flex-direction: column;
	margin-left: 75px;
	width: 100%;
}

.logo {
	width: 350px;
	margin: 5px;
	height: 150px;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center center;
}

.site-img {
	width: 100%;
	height: 15vh;
	margin-left: 8px;
}

.header_bottom {
	background: var(--clr-white) !important;
	margin-bottom: 0px !important;
	padding: 0px 5px;
}

.main{
	padding: 0px 5px !important;
	background: var(--clr-white);
}

.header_bottom_left {
	width: 100%;
	background-color: var(--main-clr);
	display: flex;
	flex-direction: row;
}

.header_bottom_right_images {
	width: 100% !important;
	padding-top: 5px !important;
	margin-left: 0px;
	margin-top: 15px;
	height: 330px !important;
}

.flexslider .slides img {
	padding-bottom: 10px !important;
	margin-bottom: 10px !important;
}

.flex-control-nav.flex-control-paging {
	bottom: 4em !important;
	left: 0px !important;
}

.flex-control-paging li a {
	background: var(--blue-main) !important;
}

.flex-control-paging li a.flex-active {
	background: var(--main-clr) !important;
}

.flex-direction-nav a{
	background: url(../images/next-slider-arrow.svg) no-repeat 0 0 !important;
	color: red !important;
	opacity: 0.5 !important;
	margin-left: 10px !important;
	margin-right: 7px !important;
	text-indent: 0px !important;
	color: transparent !important;
 }

.flex-direction-nav .flex-next{
	transform: rotate(180deg) !important;
}

.search-bar {
	width: 70%;
	margin-top: 10px !important;
	margin-right: 5px !important;
}

.search_box {
	width: 98% !important;
	background: white !important;
	text-align: center;
	border-radius: 3px !important;
}

.search-btn {
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	padding: 0px 17px;
	height: 30px;
	background: var(--blue-main);
	position: absolute;
	right: 3px;
	top: 5px;
}

.search-btn:hover {
	background: var(--main-clr);
}

.search-qr {
	text-align: center;
	color: #222 !important;
}

@media  only screen and (max-width: 480px) {
	.search-qr::placeholder{
		opacity: 0;
	}
}

.suggest-box {
	padding-top: 10px !important;
	height: auto;
}

.suggest-header {
	margin-top: 8vh;
}

.suggest-header ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 0px;
}

.suggest-header li{
	width: 70px;
	margin: 0px 4vw;
	padding: 5px 0px;
	color: var(--blue-main);
	text-align: center;
}

.add-cart-suggest a {
	text-decoration: none !important;
	color: white;
	font-weight: bold;
}

.add-cart-suggest a:hover {
	color: var(--main-clr);
}

.btn-view-prd a:hover {
	color: var(--blue-main);
}

.section.group {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.images_1_of_2 {
	padding: 5px !important;
	width: 21% !important;
	display: flex;
	flex-direction: column;
}

.listview_1_of_2 {
	margin: 10px !important;
	border: 1px solid var(--main-clr);
	box-shadow: 0px 1px 2px var(--main-clr) !important;
}

.list_2_of_1 {
	text-align: center;
	width: 100%;
}

.text {
	margin: 5px 0px;
}

.list_2_of_1 h1 {
	color: var(--blue-main);
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 5%;
}

.list_2_of_1 h2 {
	color: var(--main-clr);
	font-weight: 700;
}

.listimg_2_of_1 {
	position: relative !important;
	width: 100%;
}

.listimg_2_of_1 img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.listimg_2_of_1:hover img {
	opacity: 0.3;
}

.listimg_2_of_1:hover .btn-add-suggest {
	opacity: 1;
}

.btn-add-suggest {
	transition: 0.5s ease;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 0;
	position: absolute;
	top: 40%;
	bottom: 50%;
	text-align: center;
}

.progress-bar.bg-warning {
	font-weight: bold !important;
}

.content-product-block {
	color: white !important;
	font-size: 20px !important;
	font-family: var(--font-secondary) !important;
	margin-bottom: 0px !important;
}

h2.feature-prd {
	color: var(--blue-main);
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 5%;
}

.price {
	font-weight: bold;
}

/* footer */
.footer {
	padding-left: 75px !important;
	background: var(--bg-clr) !important;
	box-shadow: none !important;
	padding-bottom: 7px !important;
	width: 100% !important;
}

.span_1_of_4.footer-span h4 {
	color: #e1b217  !important;
	font-family: var(--font-secondary) !important;
	font-weight: bold;
}

.section.group .col_1_of_4 {
	margin: 0px !important;
	border-right: none !important;
	text-align: center;
}

.span_1_of_4 {
	width: 33% !important;
}

.span_1_of_4 h4{
	border-bottom: none !important;
}

.col_1_of_4.span_1_of_4 ul {
	margin-bottom: 0px !important;
	padding: 0px !important;
}

.copy_right {
	padding: 0px !important;
}
.copy_right p {
	margin-bottom: 0px !important;
}

.col_1_of_4.span_1_of_4 .social-icons {
	padding-top: 0px !important;
}

.social-icons ul li{
	margin: 10px !important;
	padding: 0px !important;
}

#toTop {
	background: url(../images/arrow_up.svg) no-repeat right top !important;
	transform: rotate(180deg) !important;
	width: 30px !important;
	height: 30px !important;
}

/* customer login */

 .customer-login-main, .customer-register-main, .customer-register-success{
	 margin-top: 20px !important;
	 display: flex;
	 justify-content: center;
}

.customer-register-success{
	margin: 50px 0px !important;
	padding: 25px 10px !important;
}
	
	.login_panel, .register_account {
		width: auto !important;
		border: 2px solid var(--main-clr);
		border-radius: 7px;
		background: var(--bg-clr);
 }

 .customer-login-form input, .customer-register-form input{
	 border-radius: 3px;
	 border-color: var(--blue-main);
	 color: var(--clr-black) !important;
	 font-size: 17px !important;
	 margin: 7px !important;
 }

 .login_panel h1, .register_account h1{
	 text-transform: uppercase;
	 font-weight: bold;
	 color: var(--blue-main);
	}
	
.login_panel h5, .register_account h5, .register_account h2{
	 color: var(--blue-main);
 }
 
.customer-login-result p, .customer-register-result p{
	font-size: 16px !important;
	color: red !important;
}

.register_account h3 {
	font-size: 15px !important;
}

.note a{
	text-decoration: none !important;
	color: var(--main-clr-up) !important;
}

.register_account input[type="password"]{
	width: 95%;
	padding: 8px;
}

/* Single product */
.single-prd-main{
	margin-top: 15px;
}

.section.group.single-prd-section{
	flex-direction: column !important;
}

.cont-desc.span_1_of_2{
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-around !important;
	width: 100% !important;
	height: auto !important;
}

.images_3_of_2.single_prd-img{
	width: 33% !important;
	height: auto !important;
	position: relative !important;
	align-items: center !important;
}

.span_3_of_2.single_prd-shortdesc{
	width: 25% !important;
}

.img-zoom-lens {
	position: absolute;
	border: 1px solid var(--blue-main);
	width: 77px;
	height: 77px;
  }
  
  .img-zoom-result {
	margin-left: 10px;
	border: 1px solid #d4d4d4;
	width: 400px;
	height: 300px;
  }

  @media only screen and (max-width: 780px) {
	  .img-zoom-result{
		  display: none;
	  }
  }

  .card.bg-primary.text-white.single-prd-desc{
	margin-bottom: 10px;
  }

  .product-desc h2{
	background: none;
	border: none;
	padding: 0px 0px;
  }