@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
	--mistcolor: rgb(101, 111, 122);
}

/* Custom css for header */
body {
	background: #ffedd4 !important;
	color: rgb(43, 43, 209) !important;
	border: none;
	font-family: "Poppins", sans-serif !important;
	font-weight: 400;
}

body h1 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.navbar .brand {
	display: block;
	float: left;
	padding: 10px 0px 10px !important;
	margin-left: -30px !important;
	font-size: 17px;
	font-weight: normal;
	color: white;
	text-shadow: none;
}

.navbar-inner {
	background: var(--mistcolor) !important;
	text-shadow: none;
	border: none !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: var(--mistcolor) !important;
}

.dropdown-menu {
	background-color: var(--mistcolor) !important;
	border: none !important;
}

.dropdown-menu li a {
	color: #fff;
}

#breadcrumb-custom {
	background: #2d89ef !important;
}

#breadcrumb-custom a {
	color: white !important;
}

#breadcrumb-custom i {
	color: white !important;
}

/* Sidebar-left */

.navtab-li-custom {
	border-bottom: 2px solid white !important;
}

.navtab-li-custom:hover {
	transform: translateX(10px);
}

.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > ul > li > a {
	color: whitesmoke !important;
}

.nav-tabs.nav-stacked > li:hover,
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > ul > li > a:hover {
	background-color: #2d89ef !important;
	color: white !important;
}

#sidebar-left {
	background: var(--mistcolor) !important;
}

/* footer */

footer {
	background: var(--mistcolor) !important;
}

/*  login admin page */

.admin-validate p {
	text-align: center !important;
}

.login-box.login-box-custom {
	border: 1px solid goldenrod !important;
	-webkit-box-shadow: 0px 0px 0px 5px rgb(218 165 32 / 25%) !important;
	border-radius: 7px;
}

.input-prepend.login-admin-custom {
	border: 0px !important;
}

.add-on.login-admin-custom {
	background: goldenrod !important;
	border: 1px solid goldenrod !important;
	border-top-left-radius: 7px !important;
	border-bottom-left-radius: 7px !important;
}

.custom-login-input {
	border: 1px solid goldenrod !important;
	border-left: none !important;
	border-top-right-radius: 7px !important;
	border-bottom-right-radius: 7px !important;
	color: black !important;
}

.login-box .add-on i {
	opacity: 1 !important;
}

#submit-login-custom {
	margin: 0px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.admin-login-check-custom {
	border-radius: 7px !important;
}

/*  dashboard admin */

.span3.metro-custom {
	border-radius: 33px !important;
}

.btn-link-footer{ 
	color: white !important;
	border-color: transparent;
	border-radius: 50% !important;
	border: none !important;
	padding: 10px;
	width: 15px !important;
	height: 15px !important;
	text-align: center !important;
}

.btn-fb-footer {
	background-color: #3b5998 !important;
	
}

.btn-gh-footer {
	background-color: #333333 !important;
}

.btn-email-footer {
	background-color: #333333 !important;
}

/* other page */
.custom-admin-label {
	font-weight: bold !important;
	font-size: 15px;
}

.controls > input,
select {
	border: 2px solid var(--mistcolor) !important;
	border-radius: 3px;
}

input {
	border: 2px solid var(--mistcolor) !important;
	border-radius: 3px !important;
}

.cleditorMain {
	border: 2px solid var(--mistcolor) !important;
	background-color: rgb(242, 247, 253);
	border-radius: 3px;
}

.custom-panel-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px !important;
	background-color: rgb(242, 247, 253);
}

.custom-admin-btn {
	border-radius: 3px !important;
	color: black;
	font-weight: 700 !important;
}

table th,
td {
	text-align: center !important;
	background-color: #fbf7f1 !important;
}

#content {
	min-height: 664.5px !important;
}
